<!DOCTYPE html>
<html lang="en">

  <%- include('partials/_head') %>
  <body>
    <%- include('partials/_navbar') %>
    <h1>Conversations!</h1>

      <% let currentConv = undefined;
          let otherUser = undefined;
      for(let message of messages) { %>

         <% if (message['conversation_id'] !== currentConv) {  %>
            <% currentConv = message['conversation_id']; %>
            <%
            if (userIdent === message['sender_id']) {

                otherUser = message['receiver_id'];
                } else {
                otherUser = message['sender_id'];
                }
              %>
         </div>
            <div class ="findMe">
              <div class="conversation_title">
              <h1><%= message['title'] %></h1>
              <button class="fas fa-reply"></button>
              </div>
              <div class="conversations-container">
            <form method="POST" action="/conversations">
              <input type="text" placeholder="Message" name="message">
              <input type = "hidden" name="conversation_id" value="<%= message['conversation_id'] %>"></input>
              <input type = "hidden" name="otherUser_id" value="<%= otherUser %>"></input>
              <button type="submit" class="fa fa-paper-plane"></button>
            </form>
              </div>
         <% } %>

            <% if (userIdent === message['sender_id']) { %>
              <div class="conversations-container userSent">
                <p><%= message['content'] %></p>
                <p>
                  <% let date = JSON.stringify(message['time_sent']); %>
                  sent on <%= date.slice(1, 11) %>
                </p>

                <% }  else {%>
                  <div class="conversations-container userRecieved">
                  <p><%= message['content'] %></p>
                  <p>
                    <% let date = JSON.stringify(message['time_sent']); %>
                    message recieved on <%= date.slice(1, 11) %>
                  </p>
                  <% } %>
                </div>


          <% } %>



  </body>





  </body>
</html>
