<!DOCTYPE html>
<html lang="en">
  <%- include('partials/_head') %>
  <body>
    <%- include('partials/_navbar') %>
    <h1>Conversations!</h1>

    <div class="conversations-container">
      <% let currentConv = 0;
      let sender = undefined;
      let reciever = undefined;
      for(let message of messages) { %>
          <h1><% if (message['conversation_id'] !== currentConv) {  %>
            <% currentConv++; %>
            Convo <%= message['conversation_id'] %>
            <% } %></h1>
            <% if (userIdent === message['sender_id']) { %>
                <p class="userSent sentMessage"><%= message['content'] %></p>
                <p class="userSent date">
                  <% let date = JSON.stringify(message['time_sent']); %>
                  <%= date.slice(1, 11) %>
                </p>

                <% }  else {%>
                  <p class="userRecieved sentMessage"><%= message['content'] %></p>
                  <p class="userRecieved date">
                    <% let date = JSON.stringify(message['time_sent']); %>
                    <%= date.slice(1, 11) %>
                  </p>

                          <% } %>
          <% } %>
    </div>


  </body>





  </body>
</html>
