<!DOCTYPE html>
<html lang="en">

  <%- include('partials/_head') %>
  <body>
    <%- include('partials/_navbar') %>
    <h1 id="convPageTitle">your conversations</h1>

      <% let currentConv = undefined;
          let otherUser = undefined;
          let otherUserName = ""
      for(let message of messages) { %>
         <% if (message['conversation_id'] !== currentConv) {  %>
            <% currentConv = message['conversation_id']; %>
            <%
            if (userIdent === message['sender_id']) {
                otherUser = message['receiver_id'];
                } else {
                otherUserName = message['name'];
                otherUser = message['sender_id'];
                }
              %>
         </div>
            <div class ="findMe">
              <div class="conversation_title">
                <img class="posting-image" src="<%= message['image_photo_url'] %>" alt="posting-pic">
              <h1><%= message['title'] %> </h1>
              <h3 class="original_date"><% let date = JSON.stringify(message['time_sent']); %>
              <%= date.slice(1, 11) %> </h3>
              <button class="fas fa-reply"></button>
              </div>
              <div class="conversations-container">
            <form method="POST" action="/conversations">
              <input class="newMessageBody" type="text" placeholder="Message" name="message">
              <input type = "hidden" name="conversation_id" value="<%= message['conversation_id'] %>"></input>
              <input type = "hidden" name="otherUser_id" value="<%= otherUser %>"></input>
              <button class ="sendMessage fa fa-paper-plane" type="submit"></button>
            </form>
              </div>
         <% } %>

            <% if (userIdent === message['sender_id']) { %>
              <div class="conversations-container userSent">
                <p><%= message['content'] %></p>
                <p>
                  <% let date = JSON.stringify(message['time_sent']); %>
                  sent on <%= date.slice(1, 11) %>
                </p>

                <% }  else {%>
                  <div class="conversations-container userRecieved">
                  <% otherUserName = message["name"] %>
                  <p class="convoRes"><%= otherUserName %> said</p>

                  <p><%= message['content'] %></p>
                  <p class="convoRes">
                    <% let date = JSON.stringify(message['time_sent']); %>
                    on <%= date.slice(1, 11) %>
                  </p>
                  <% } %>
                </div>


          <% } %>



  </body>





  </body>
</html>
