<!DOCTYPE html>
<html lang="en">
  <%- include('partials/_head') %>
  <body>
    <%- include('partials/_navbar') %>
    <h1>Conversations!</h1>

    <div class="conversations-container">
      <% let currentConv = 0;
      for(let message of messages) { %>
        <tr>
          <h3><% if (message['conversation_id'] !== currentConv) {  %>
            <% currentConv++; %>
            Convo <%= message['conversation_id'] %>
            <% } %></h1>
          <td><%= message['content'] %></td>
          <span>
            <% let date = JSON.stringify(message['time_sent']); %>
            <%= date.slice(1, 11) %>
          </span>
        </tr>
      <% } %>

    </div>


  </body>





  </body>
</html>
