<!DOCTYPE html>
<html lang="en">
  <%- include('partials/_head') %>
  <body>
    <%- include('partials/_navbar') %>

    <%- include('partials/_search-bar') %>

    <% for(let favorite of favorites) {%>
      <div class="favorite-container">

        <img class="favorite-image" src="<%= favorite['image_photo_url'] %>" alt="favorite-pic">

        <div class="favorite-title-price-description">
          <span><%= favorite['title'] %></span>
          <span>$<%= favorite['price'] %></span>
          <span><%= favorite['description'] %></span>
        </div>
        <div class="favorite-right-hand-side-parent">
          <div class="favorite-address-seller">
            <span><%= favorite['name'] %></span>
            <span>
              <%= favorite['city'] %>,
              <%= favorite['province'] %>,
              <%= favorite['post_code'] %>
            </span>
          </div>

          <div class="posting-msg-fav-timestamp">
            <div class="dropdown">
              <button class="dropbtn">Send Message</button>
              <div class="dropdown-content">
                <form method="POST" action="/newConversation">
                  <br>
                  <input class="newConversation" placeholder="Send message" name="newMessage" required />
                  <input type="hidden" name="posting_id" value="<%= favorite['id'] %>"></input>
                  <input type="hidden" name="receiver_id" value="<%= favorite['user_id'] %>"></input>
                  <h3 class="sentConfirm alreadySent">Sent! ✅</h3>
                  <br>
                  <br>
                  <button type="submit" class="btn btn-primary sentMessage">Send!</button>
                </form>
              </div>
            </div>
            <i class="far fa-heart"></i>
            <span>
              <% let date = JSON.stringify(favorite['date_created']); %>
              <%= date.slice(1, 11) %>
            </span>
          </div>
        </div>
      </div>
      <% } %>

  </body>
</html>
