<!DOCTYPE html>
<html lang="en">
  <%- include('partials/_head') %>
  <body>
    <%- include('partials/_navbar') %>

    <div class="search-bar-container">
      <input class="search-bar" type="text" placeholder="Search...">
      <button class="fas fa-search" type="submit"></button>
      <i class="fas fa-filter"></i>
      <i class="fas fa-sort"></i>
    </div>

    <% for(let posting of postings) {%>
    <div class="posting-container">

      <img class="posting-image" src="<%= posting['image_photo_url'] %>" alt="posting-pic">

      <div class="posting-title-price-description">
        <span><%= posting['title'] %></span>
        <span>$<%= posting['price'] %></span>
        <span><%= posting['description'] %></span>
      </div>

      <div class="posting-right-hand-side-parent">
        <div class="posting-address-seller">
          <span><%= posting['name'] %></span>
          <span>
            <%= posting['city'] %>,
            <%= posting['province'] %>,
            <%= posting['post_code'] %>
          </span>
        </div>

        <div class="posting-msg-fav-timestamp">
          <i class="far fa-comment-dots"></i>
          <i class="far fa-heart"></i>
          <span>
            <% let date = JSON.stringify(posting['date_created']); %>
            <%= date.slice(1, 11) %>
          </span>
        </div>
      </div>

    </div>
    <% } %>

  </body>
</html>
