<!DOCTYPE html>
<html lang="en">
  <%- include('partials/_head') %>
  <body>
    <%- include('partials/_navbar') %>

    <div class="search-bar-container">
      <form method="get" action="/postings">
        <input class="search-bar" type="text" placeholder="Search..." name="searchpostings">
        <button class="fas fa-search search-postings-button" type="submit"></button>
      </form>
<<<<<<< HEAD
      <button class="fas fa-filter" type="submit"></button>
      <button class="fas fa-sort" type="submit"></button>

=======
      <div class="dropdown">
        <button onclick="myFunction()" class="fas fa-filter"></button>
        <div id="myDropdown" class="dropdown-content">
          <form method="get" action="/postings">
          <input type="itemprice" placeholder="Price.." id="myInput" name="filterprice">
          </form>
        </div>
      </div>
>>>>>>> fc2a60bb3ffb16ecb8a1ea5efd51829f5192d076
    </div>
    <% for(let posting of postings) {%>
    <div class="posting-container">

      <img class="posting-image" src="<%= posting['image_photo_url'] %>" alt="posting-pic">

      <div class="posting-title-price-description">
        <span><%= posting['title'] %></span>
        <span>$<%= posting['price'] %></span>
        <span><%= posting['description'] %></span>
        <span class="posting-id"><%= posting['id'] %></span>
      </div>
      <div class="posting-right-hand-side-parent">
        <div class="posting-address-seller">
          <span><%= posting['name'] %></span>
          <span>
            <%= posting['city'] %>,
            <%= posting['province'] %>,
            <%= posting['post_code'] %>
          </span>
        </div>

        <div class="posting-msg-fav-timestamp">
          <i class="far fa-comment-dots"></i>
          <button type="button" class="far fa-heart" onclick="setColor(event, 'button', '#101010')"; data-count="1"></button>
          <span>
            <% let date = JSON.stringify(posting['date_created']); %>
            <%= date.slice(1, 11) %>
          </span>
        </div>

        <div class="posting-marksold-stock">
          <button type="submit">Mark as Sold</button>
          <i class="fas fa-check"></i>
          <span>Available</span>
          <i class="fas fa-times-circle"></i>
          <span>Sold!</span>
        </div>

      </div>
    </div>
    <% } %>
  </body>
</html>

