<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Home Page</title>

    <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" type="text/css" />
    <link rel="stylesheet" href="/vendor/border-box.css" type="text/css" />
    <link rel="stylesheet" href="/styles/layout.css" type="text/css" />

    <script type="text/javascript" src="/vendor/jquery-3.0.0.js"></script>
    <script type="text/javascript" src="/scripts/app.js"></script>
  </head>

  <body>

    <nav class="navbar-user-not-logged-in">
      <div class="logo-and-name">
        <img class="lhl-marketplace-logo" src="https://raw.githubusercontent.com/Thinkful/bootcamp-finder/master/bootcamps/lighthouse-labs/logo.png" alt="Lighthouse">
        <span>LLH MarketPlace</span>
      </div>
      <div class="nav-bar-buttons">
        <button><a href="/register" style="text-decoration: none;">Register</a></button>
        <button><a href="/login" style="text-decoration: none;">Login</a></button>
      </div>
    </nav>



    <h1>postings!</h1>



    <div id="postings_container">


    <% for(let posting of postings) {%>
      <div class="posting_display"><img src="<%= posting['image_photo_url'] %>" width="200" height="200">
        <div class="posting_body">
        <div class="posting_header">
        <h1><%= posting['title'] %></h1>
        <h2>$<%= posting['price'] %></h2>
        </div>
        <p> description <%= posting['description'] %></p>
        <p> user id <%= posting['user_id'] %></p>
        <div >
        <p><%= posting['street'] %> <%= posting['city'] %> <%= posting['province'] %> <%= posting['post_code'] %> country <%= posting['country'] %></p>
        <p>Posted <%= posting['date_created'] %></p>
        </div>
        </div>
    </div>
    <% } %>
  </body>
</html>
